<h1>Confirmed bookings</h1>
<div class="btn-group mb3" id="confirm_zip">
  <%= link_to 'Download everything as a zip archive of xlsx files', confirmed_bookings_admin_bookings_path(format: :zip), class:'btn btn-secondary' %>
</div>
<div class="btn-group mb3">
  <%= link_to 'Download everything as a csv file', confirmed_bookings_admin_bookings_path(format: :csv), class:'btn btn-secondary', id: 'confirm_csv' %>
</div>
<div id="admin_bookings">
  <% @admin_bookings.each do |admin_booking| %>
    <%= render admin_booking %>
  <% end %>
</div>

