<h1>Welcome to our HOTEL</h1>
<%= render 'shared/slider' %>
<hr/>
<blockquote>
  Hello, dear friends! Welcome to the main page of our hotel. Here you can leave reviews, choose rooms and book them.
</blockquote>
