<%= render "form", review: @review %>

<h1>Reviews</h1>

<div id="reviews">
  <% @reviews.each do |review| %>
    <div class="well well-lg">
    <% if review.published %>
      <%= render review %>
      <p>
        <%= link_to "Show this review", review %>
      </p>
    <% end %>
    </div>
  <% end %>
</div>
